<span class="gh-select" data-select-text="{{this.selectedTimezone.label}}" tabindex="0">
    <OneWaySelect
        @id="activeTimezone"
        @name="general[activeTimezone]"
        @options={{this.selectableTimezones}}
        @optionValuePath="name"
        @optionLabelPath="label"
        @value={{this.selectedTimezone}}
        @update={{action "setTimezone"}}
    />
    {{svg-jar "arrow-down-small"}}
</span>
{{#if this.hasTimezoneOverride}}
    <p>{{t "Your timezone has been automatically set to {activeTimezone}." activeTimezone=this.activeTimezone}}</p>
{{/if}}
<p>{{t "The local time here is currently {localTime}" localTime=this.localTime}}</p>
