
<header class="modal-header" data-test-modal="delete-user">
    <h1>{{t "Upgrade your plan to continue"}}</h1>
</header>
<button class="close" title="{{t "common.Close"}}" {{on "click" this.closeModal}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></button>

<div class="modal-body">
    <p>
        Your current plan allows you to send posts by email to up to <strong>{{upgradeMessage.limit}}</strong> members, but you currently have <strong>{{upgradeMessage.total}}</strong> members.
    </p>
</div>

<div class="modal-footer">
    <button {{on "click" this.closeModal}} class="gh-btn" data-test-button="cancel-upgrade">
        <span>{{t "common.Cancel"}}</span>
    </button>

    <button {{on "click" (action "upgrade")}} class="gh-btn gh-btn-green" data-test-button="upgrade-plan">
        <span>{{t "common.Upgrade"}}</span>
    </button>
</div>