<header class="modal-header">
    <h1>{{t "Are you sure?"}}</h1>
</header>
<a class="close" href="" title="{{t "common.Close"}}" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span></a>

<div class="modal-body">
    <p>
        {{t "Deleting this webhook may prevent the integration from functioning."}}
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>{{t "common.Cancel"}}</span></button>
    <GhTaskButton @buttonText={{t "taskButton.Delete Webhook"}} @successText="Deleted" @task={{this.deleteWebhook}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>