<header class="modal-header">
    {{!-- LLIUREX Changes to use invitation to create user --}}
    <h1>{{t "Add a New User"}}</h1>
    {{!-- LLIUREX --}}</header>
{{!-- disable mouseDown so it doesn't trigger focus-out validations --}}
<a class="close" href title="{{t "common.Close"}}" {{action "closeModal"}} {{action (optional this.noop) on="mouseDown"}}>
    {{svg-jar "close"}}<span class="hidden">{{t "common.Close"}}</span>
</a>

<div class="modal-body">
    <fieldset>
        <GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="user">
            <label for="new-user-id">{{t "Username"}}</label>
            <GhTextInput
                @id="new-user-id"
                @placeholder={{t "Username"}}
                @name="user"
                @shouldFocus={{true}}
                @autocapitalize="off"
                @autocorrect="off"
                @value={{readonly user}}
                @input={{action (mut user) value="target.value"}}
              
            />
            <GhErrorMessage @errors={{this.errors}} @property="user" />
        </GhFormGroup>

        <GhFormGroup @class="for-select" @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="role">
            <label for="new-user-role">{{t "Role"}}</label>
            <span class="gh-select">
                <OneWaySelect
                    @id="new-user-role"
                    @name="role"
                    @options={{readonly this.roles}}
                    @optionValuePath="id"
                    @optionLabelPath="name"
                    @value={{this.role}}
                    @update={{action "setRole"}}
                />
                {{svg-jar "arrow-down-small"}}
            </span>
            <GhErrorMessage @errors={{this.errors}} @property="role" />
        </GhFormGroup>
    </fieldset>
{{!--  LLIUREX Changes to use invitation to create user --}}
<fieldset>
	<GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="password">
	    <label for="new-user-password">{{t "Password"}}</label>
	    <span class="gh-input-icon gh-icon-lock forgotten-wrap">
		{{svg-jar "lock"}}
		<GhTextInput
		    @id="new-user-password"
		    @class="password"
		    @type="password"
		    @placeholder={{t "Password"}} 
		    @name="password"
		    @tabindex="2"
		    @autocomplete="current-password"
		    @autocorrect="off"
		    @value={{readonly this.password}}
		    @input={{action (mut this.password) value="target.value"}} /> 
	
	   </span>
            <GhErrorMessage @errors={{this.errors}} @property="password" />
	
	</GhFormGroup>
</fieldset>
<fieldset>
	
	<GhFormGroup @errors={{this.errors}} @hasValidated={{this.hasValidated}} @property="password2">

	    <label for="new-user-password2">{{t "Verify Password"}}</label>
	    <span class="gh-input-icon gh-icon-lock forgotten-wrap">
		{{svg-jar "lock"}}
		<GhTextInput
		    @id="new-user-password2"
		    @class="password"
		    @type="password"
		    @placeholder={{t "Password"}}
		    @name="password2"
		    @tabindex="2"
		    @value={{readonly this.password2}}
		   @input={{action (mut this.password2) value="target.value"}} /> 
                    
	
	   </span>
            <GhErrorMessage @errors={{this.errors}} @property="password2" />
    
	</GhFormGroup>
</fieldset>
{{!--  LLIUREX --}}
            
</div>

<div class="modal-footer">
    <GhTaskButton @buttonText={{t "taskButton.Add user now"}}
        @successText={{t "taskButton.Added"}}
        @task={{this.sendInvitation}}
        @class="gh-btn gh-btn-green gh-btn-icon"
        @disabled={{this.fetchRoles.isRunning}}
        @disableMouseDown="true" />
</div>
